.tools-section{
max-width: 2211px;
height: 543px;
margin-top: 110px;
}

.tools {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 1095px;
  height: 204px;
  padding-left: 161px;
  margin-top: 54px;

}

.section_tools_h2 {
  width: 539px;
  height: 108px;
  margin-left: 439px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

.dth_button {
  margin-top: 45px;
  display: inline-block;
  margin-right: 30px;
}

.design_think_link {
  color:#FF9900;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.tool_size {
  height: 178px;
  width: 240px;
}

.second_tool {
  margin-left: 46px;
}

.third_tool {
  margin-left: 45px;
}

.fourth_tool {
  margin-left: 44px;
  height: 204px;
}

.tools_button {
  margin-top: 34px;
  margin-left: 621px;
}