
body {
  width: 100%;
  
}

.dth_section {
  margin-top: 30px;
  height: 496px;
}

.img_Logo {
  width:185.34px;
  height:31.97px;
}

.header_logo {
  padding-left: 143.92px;
  padding-top: 27px;
  padding-bottom: 19.03px;
  padding-right: 160px;
}

ul.header_list li {
  display: inline-block;
}

.header_main {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

section.header_main {
  max-height: 78px;
}

div.header_nav {
  flex-basis: 350px;
  height: 28px;
  padding-top: 14px;
  padding-left: 160px;
  padding-right: 29px;
  color:#2F281E;
  font: size 14px;
  word-spacing: 20px;
}

.header_button {
  height: 46px;
  margin-top: 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  border-radius: 4px ;
  text-decoration: none;
}

.header_sign_in {
  width: 102px;
  color: #173A56;
  background-color: #FFFFFF;
  margin-right: 7px;
  border: 1px solid black;
}

.header_sign_up {
  width: 110px;
  background-color: #FF9900;
  color:#FFFFFF;
  margin-left: 7px;
}
.main_header_size {
  max-width: 1400px;
  margin: 20 auto
}
